<!DOCTYPE html>
<html ng-app="store"> <!-- directive -->
  <head>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="app.css"/>
  </head>
  <body ng-controller="StoreController as store">
    <ul class="list-group">
	  <li class="list-group-item" ng-repeat="product in store.products">		
		<h3 ng-include="'product-title.html'"></h3>
		<section ng-controller="PanelController as panel">
		  <ul class="nav nav-pills">
			<li ng-class="{ active: panel.tab === 1}"> 
				<a href ng-click="panel.selectTab(1)">Description</a> </li>
			<li ng-class="{ active: panel.tab === 2}"> 
			    <a href ng-click="panel.selectTab(2)">Specifications</a> </li>
			<li ng-class="{ active: panel.tab === 3}"> 
			    <a href ng-click="panel.selectTab(3)">Reviews</a> </li>
		  </ul>
		  {{tab}}
	<div class="panel" ng-show="panel.isSelected(1)">
		<h4>Description</h4>
		<p>{{product.description}}</p>
	</div>
	<div class="panel" ng-show="panel.isSelected(2)">
		<h4>Specifications</h4>
		<blockquote>None yet</blockquote>
	</div>
	<div class="panel" ng-show="panel.isSelected(3)">
		<h4>Reviews</h4>
		<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
		  ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
		<blockquote ng-repeat="review in product.reviews">
  		  <b>Stars: {{review.stars}}</b>
		  {{review.body}}
		  <cite>by: {{review.author}}</cite>
		</blockquote>
		  <select ng-model="reviewCtrl.review.stars" required>
		    <option value="1">1 star</option>
			<option value="2">2 stars</option>
			<option value="3">3 stars</option>
			<option value="4">4 stars</option>
			<option value="5">5 stars</option>
		  </select>
		  <textarea ng-model="reviewCtrl.review.body" required/></textarea>
		  <label>by:</label>
		  <input ng-model="reviewCtrl.review.author" type="email" required/>
		  <div>reviewForm is {{reviewForm.$valid}}</div>
		  <input type="submit" value="Submit"/>
		</form>
	</div>
		</section>
		</h3>
	  </li>
	</ul>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
  </body>
</html>